.card {
    max-width: 20rem;
}
.overlayBottom {
    top: auto;
    bottom: 0;
}
.socialIcons a {
    margin: 0px 5px;
    color: white;
}
.card .img {
    max-width: 10rem;
    margin: auto;
    display: block;
    padding: 10px;
}
#skillsGraph {
    height: 500px;
}