@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 90em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

.overlayBottom {
    top: auto;
    bottom: 0;
}
.socialIcons a {
    margin: 0px 5px;
    color: white;
}
.card .img {
    max-height: 10rem;
    width: auto;
    margin: auto;
    display: block;
    padding: 10px;
}
#skillsGraph {
    height: 500px;
}